:root{
    --primary-color : #FCD34D; 
}
textarea{
    width : 50%;
    height : 40vh;
    margin : 2% 25%;
    text-align: center;
    background-color: var(--primary-color);
}
#txt-output{
    width : 50%;
    height : 40vh;
    margin : 2% 25%;
    text-align: center;
    background-color: var(--primary-color);
    border:  black solid;
}
#btn-translate{
    text-align: center;
    width : 5rem;
    height: 2rem;
    margin :auto;
    position: relative;
    left :50%;
    right : 50%;
}
.main-heading{
    text-align: center;
}
.sub-heading{
    font-size: larger;
    padding-left: 25%;
}
.container-main{
    width: 50%;
    margin :auto;
    background-color: var(--primary-color);
    border : solid black;
}
body{
    border : 0;
    margin: 0;
}