:root{
    --primary-color : #FCD34D; 
}
textarea{
    width : 50%;
    height : 18vh;
    margin : 2% 25%;
    text-align: center;
}
#txt-output{
    width : 50%;
    height : 18vh;
    margin : 2% 25%;
    text-align: center;
    border:  black solid;
}
#btn-translate{
    text-align: center;
    width : 6rem;
    height: 3rem;
    background-color: var(--primary-color);
    margin-left: 25%;
    margin-bottom: .5rem;
}
.main-heading{
    text-align: center;
    background-color: var(--primary-color);
    padding :1rem;
    margin-top: 0;
    margin-bottom: 0;
}
.sub-heading{
    font-size: larger;
    padding-left: 25%;
    padding-bottom: 0;
}
.container-main{
    width :50%;
    margin :auto;
    background-color: var(--primary-color);
    margin-bottom: 0;
}
body{
    border : 0;
    margin: 0;
}
section{
    background-color: var(--primary-color);
    margin-bottom: 0;
}
p{
    margin-bottom: 0;
    padding-top: 0;
}